<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>أذكاري</title>
    <style>

        body {
            text-align: center;
            background-color: #f0f0f0;
            font-family: sans-serif;
        }
        img {
            max-width: 80%;
            height: auto;
        }
        #countdown {
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1 style="font-size: 36px; color: #2c3e50; margin-top: 20px;">أذكاري</h1>
    <img src="{{ url_for('static', filename=image_file) }}" alt="أذكار">
    <div id="countdown">العد التنازلي لتغيير الأذكار: ...</div>

    <!-- سورة الكهف Button -->
    <div style="margin-top: 20px; text-align: center;">
      <a href="http://b5b5.com/1/?fbclid=PAZXh0bgNhZW0CMTEAAaZJrtxI-OzbsDldb-YKFAQj9G-FPFZLnPS5k22mEiUsIiGpOOq_lLA9KVE_aem_AXN-RQg0eWdmoqJIGfYYB7qzcdXxFOeqQCNhXLHygiINaMwTrjSy9gK_2cliwX-ewPlw0Fu9EUGtIqeiKul8hn5q"
         target="_blank"
         style="padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px; font-size: 18px;">
        سورة الكهف
      </a>
    </div>

    <!-- فاصل بين الزرين -->
    <div style="margin: 15px 0;"></div>

    <!-- حاسبة الأذكار -->
    <div>
      <a href="/zikr-calculator" style="text-decoration: none;">
        <button style="padding: 10px 50px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; font-size: 18px; cursor: pointer;">
          حاسبة الأذكار
        </button>
      </a>
    </div>

    <script>
        const nextSwitch = {{ next_switch }}
        const countdownEl = document.getElementById("countdown");

        function updateCountdown() {
            const now = new Date().getTime();
            const distance = nextSwitch - now;

            if (distance < 0) {
                countdownEl.innerText = "تم التحديث. الرجاء إعادة تحميل الصفحة.";
                return;
            }

            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            countdownEl.innerText = `العد التنازلي لتغيير الأذكار: ${hours} ساعة، ${minutes} دقيقة، ${seconds} ثانية`;
        }

        setInterval(updateCountdown, 1000);
        updateCountdown();


    </script>
</body>
</html>
